.card-img-top {
    max-width: 50%;
}

.event-detail h1 {
    display: flex;
    align-items: center;
    height: 15%;
    color: black;
}

.event-detail p {
    margin-right: auto;
    margin-left: auto;
    color: black;
}

.event-detail button {
    float: right;
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px 10px;
    margin: 4px;
}

.event-detail button:hover {
    text-decoration: underline;
}

.event-detail-content {
    display: block;
    padding: 1em;
}

