@page "/events"
@using Functions.Shared.DTOs
@using Functions.Shared.Interfaces
@using Functions.Client.Components

<PageTitle>Events</PageTitle>

<h1 class="page-name" >Event List</h1>

<div class="list">
     @if (events.Count == 0)
     {
         <p class="no-events">No events available.</p>
     }
     else
     {
         <div class="rows">
             @foreach (var evt in events)
             {
                <EventCardComponent Event="evt" OnEventClicked="OnDetailButtonClick" />
             }
         </div>
     }
</div>