.card {
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 50px -25px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 50px -25px rgba(0,0,0,0.29);
}

/*For the image look in app.css. Blazored Css Scoping*/

.card-body {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.card-title {
    align-items: center;
    height: 15%;
    color: black;
}

.card-text {
    margin-right: auto;
    margin-left: auto;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    padding-bottom: 1em;
}

.detail-button {
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px 10px;
}


    .detail-button:hover {
        text-decoration: underline;
    }

.fa-solid  {
    padding-left: 1px;
    width: 10px;
    padding-right: 8px;
}