<footer class="footer">
    <div class="footer__group">
      <NavLink href="home" class="footer__item" activeClass="footer__item--active" Match="NavLinkMatch.All">
        <i class="fa-solid fa-command"></i>
        <span class="footer__label">Home</span>
      </NavLink>
      <NavLink href="events" class="footer__item" activeClass="footer__item--active">
        <i class="fa-solid fa-command"></i>
        <span class="footer__label">Events</span>
      </NavLink>
    </div>

    <div class="footer__center">
      <NavLink href="add" class="footer__add" activeClass="footer__add--active">
       +
      </NavLink>
    </div>

    <div class="footer__group">
      <NavLink href="explore" class="footer__item" activeClass="footer__item--active">
        <i class="fa-solid fa-command"></i>
        <span class="footer__label">Explore</span>
      </NavLink>
      <NavLink href="profile" class="footer__item" activeClass="footer__item--active">
        <i class="fa-solid fa-command"></i>
        <span class="footer__label">Profile</span>
      </NavLink>
    </div>
</footer>
