<div class="header">
  <div style="width:20%; display:block; padding-left: 1em">
	  <NavLink href="" class="headerLink" style="padding-right:1em">Start</NavLink>
	  <NavLink href="events" class="headerLink" style="padding-right:1em">Events Overview</NavLink>
	  <NavLink href="events/new" class="headerLink">New Event</NavLink>
  </div>
  <h1>Functions</h1>
  <div style="align-self:center; padding-right:1em; width:20%">
	  <button>Sign in</button>
	  <button>Login</button>
  </div>
</div> 