<div class="profile-picture-container">
    @if (!hasImage)
    {
    <div class="profile-picture-initials">
        <span class="initials">
            @(string.IsNullOrWhiteSpace(UserFirstName) ? "" : UserFirstName.Substring(0, 1).ToUpper())@(string.IsNullOrWhiteSpace(UserLastName) ? "" : UserLastName.Substring(0, 1).ToUpper())
        </span>
    </div>
    }
    else
    {
        <div class="profile-picture-image">

            <FnImage FileId="UserProfilePictureId ?? Guid.Empty"
                     CssClass="profilePictureImage"
                     CssStyle=@($"width:{Size}px; height:{Size}px;") />
        </div>
    }
</div>