<div class="profile-picture-container">
    <div class="profile-picture-image">
        @if (!hasImage)
        {
            <FnImage ImageUrl=@($"https://ui-avatars.com/api/?name={UserFirstName} {UserLastName}&background=28bd4f&color=fff")
                     CssClass="profilePictureImage"
                     CssStyle=@($"width:{Size}px; height:{Size}px;") />
        }
        else
        {
            <FnImage FileId="@(UserProfilePictureId ?? Guid.Empty)"
                     CssClass="profilePictureImage"
                     CssStyle=@($"width:{Size}px; height:{Size}px;") />
        }
    </div>
</div>